@using Proyecto1ED1.Models.Enums
@using Proyecto1ED1.Models
@using Proyecto1ED1.Helpers
@model IEnumerable<Proyecto1ED1.Models.PatientInfo>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resultados de busqueda</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DPI_Partida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sintomas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contagio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caracteristica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DPI_Partida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Municipio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sintomas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contagio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Caracteristica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
    </tr>
    }

    </table>


