@using Proyecto1ED1.Models.Enums
@model Proyecto1ED1.Models.Model.Estadisticas

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    @using (Html.BeginForm("Estadisticas", "Hospital"))
    {

        @Html.AntiForgeryToken()
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', { 'packages': ['bar'] });
            google.charts.setOnLoadCallback(drawGraph);

            function drawGraph() {
                var data = new google.visualization.arrayToDataTable([
                    ['Categoria', 'Pacientes'],
                    ["Contagiados", @Html.ValueFor(model => Model.contagiadosIngresados)],
                    ["Sospechosos", @Html.ValueFor(model => Model.sospechososIngresados)],
                    ["Sospechosos contagiados", @Html.ValueFor(model => Model.sospechososPositivo)],
                    ["Sospechosos no contagiados", @Html.ValueFor(model=>Model.sospechososNegativo)],
                    ["Recuperados", @Html.ValueFor(model => Model.egresados)],
                ]);

                var options = {
                    title: 'Pacientes en hospitales',
                    width: 900,
                    legend: { position: 'none' },
                    chart: {
                        title: 'Pacientes en hospitales',
                        subtitle: 'General'
                    },
                    bars: 'horizontal',
                    axes: {
                        x: {
                            0: { side: 'top', label: 'Cantidad de pacientes' }
                        }
                    },
                    bar: { groupWidth: "90%" }
                };

                var chart = new google.charts.Bar(document.getElementById('top_x_div'));
                chart.draw(data, options);
            };
        </script>
        <body>
            <div id="top_x_div" style="width: 900px; height: 500px;"></div>
            <br />
            <br />
            <center>
                <h4>Grafica comparativa de hospitales: </h4>
                <div class="botonToUsers">
                    @Html.ActionLink("Visualizar", "EstadisticaGeneralHospital", null, new { @class = "btn btn-primary btn-lg" })
                </div>
                <br />
                <br />
                <h4>Buscar por hospital:</h4>
                <div class="form-group">
                    @Html.LabelFor(model => model, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.nombre, new SelectList(Enum.GetValues(typeof(Hospitales))),
                        "Seleccione hospital", new { @class = "form-control" })
                    </div>
                </div>
                <br />
            </center>
            <center>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Visualizar" class="btn btn-primary btn-lg" />
                    </div>
                </div>
            </center>
        </body>
    }
</head>

</html>




