
@{
    ViewBag.Title = "Hospitales";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hospitales</title>
</head>
<body>
    <br />
    <center>
        @Html.ActionLink("Hospital Capital", "HospitalCapital", null, new { @class = "btn btn-outline-dark btn-lg" })
        <br />
        <br />
        @Html.ActionLink("Hospital Quetzaltenango", "HospitalQuetzaltenango", null, new { @class = "btn btn-outline-dark btn-lg" })
        <br />
        <br />
        @Html.ActionLink("Hospital Peten", "HospitalPeten", null, new { @class = "btn btn-outline-dark btn-lg" })
        <br />
        <br />
        @Html.ActionLink("Hospital Escuintla", "HospitalEscuintla", null, new { @class = "btn btn-outline-dark btn-lg" })
        <br />
        <br />
        @Html.ActionLink("Hospital Oriente", "HospitalOriente", null, new { @class = "btn btn-outline-dark btn-lg" })
        </div>
    </center>
    <br />
</body>
</html>